* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    font-family: "IBM Plex Sans", sans-serif;
    position: relative;
    width: 100%;
}

header {
    padding: 2rem;
    margin-bottom: 15rem;
    background: url(/starter-code/assets/bg-main-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.pattern {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    display: none;
}

.logo {
    margin-bottom: 5rem;
    font-size: 3.4rem;
    text-transform: lowercase;
}

.heading-primary {
    font-size: 4.4rem;
    margin-bottom: 2rem;
}

.heading-text {
    font-size: 2rem;
    line-height: 3.4rem;

}

.pricing {
    background: url(/starter-code/assets/bg-pattern-2.svg), #191826;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.illustration {
    position: absolute;
    top: -10rem;
    left: 50%;
    width: 20rem;
    transform: translateX(-50%);
}

.pattern-2 {
    margin-bottom: 40rem;
}

.pricing-plan {
    background-color: #FA7453;
    color: #FCFAF9;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    border-radius: 11px;
    position: absolute;
    left: 0rem;
    top: 40rem;
}

.btn {
    border: none;
    padding: 2rem 3rem;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-size: 1.8rem;
    font-family: inherit;
    font-weight: 700;
}

.btn-dark {
    background-color: #191826;
    color: #FCFAF9;
    margin-bottom: 2rem;
}

.btn-dark:hover {
    background-color: #66E2DC;
}

.btn-light {
    background-color: #FCFAF9;
    color: #191826;
}

.btn-light:hover {
    background-color: #FFB964;
}

.heading-secondary {
    font-size: 3.4rem;
    margin-bottom: 2rem;
}

.pricing-text {
    font-size: 2rem;
    line-height: 3.4rem;
    margin-bottom: 2rem;
}

.permonth {
    font-size: 2.4rem;
    font-weight: 300;
    display: flex;
    align-items: center;
}

.price {
    font-size: 5.4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}


footer {
    padding: 2rem;
}

.logo-footer {
    margin-top: 10rem;
}

.footer-text {
    font-size: 2rem;
    line-height: 3.4rem;
    margin-bottom: 10rem;
}

.email {
    font-weight: 700;
    text-decoration: none;
    color: #191826;
}

.social {
    display: flex;
    align-items: center;
    gap: 2rem;
}

@media screen and (min-width: 600px) {

    header {
        background: url(/starter-code/assets/bg-main-tablet.png);
    }

    .pattern-2 {
        margin-bottom: 0;
    }

    .pattern {
        display: block;
        width: 20rem;
    }

    .heading-primary {
        font-size: 3.4rem;
        margin-top: 15rem;
        margin-bottom: 2rem;
        width: 75%;
    }

    .heading-text {
        font-size: 1.8rem;
        line-height: 3.4rem;
        margin-bottom: 10rem;
    }

    .illustration {
        left: 30%;
    }

    .pricing-plan {
        padding: 3rem;
        border-radius: 11px;
        position: absolute;
        left: 30%;
        top: 20%;
        transform: scale(90%);
    }



    footer {
        margin-top: 20rem;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }

    .logo-footer {
        margin-top: 0;
    }

    .footer-text {
        font-size: 1.6rem;
        width: 50%;
    }

    .pricing {
        margin-top: -15rem;
    }
}

@media screen and (min-width: 1000px) {
    header {
        background: url(/starter-code/assets/bg-main-desktop.png);
    }

    .pattern {
        width: 30rem;
    }


    .heading-text {
        width: 75%;
        margin-bottom: 15rem;
    }

    .illustration {
        top: -5rem;
        left: 10%;
        transform: scale(125%);
    }



}